This Python note book shows how to extract unique names  and calculation of Levenshtein distance to the word "Luca" for the dataset in the given link
(https://opendata.swiss/en/dataset/hundenamen-aus-dem-hundebestand-der-stadt-zurich2/resource/3e48403f-1ca2-434f-8766-cf0a73d7c2a1)

In [14]:
import re
import pandas as pd

In [15]:
DataFrame=pd.read_csv("C:\\Users\\preet\\Desktop\\CodeChallenge\\Starmind\\20210103_hundenamen.csv")

In [16]:
DataFrame

                         HUNDENAME  GEBURTSJAHR_HUND GESCHLECHT_HUND
0                            Ituma              2011               w
1         "Bo" Bendy of Treegarden              2020               m
2            "Bobby" Lord Sinclair              2009               m
3       "Buddy" Fortheringhay's J.              2011               m
4     "Fly" Showring i fly for you              2015               w
...                            ...               ...             ...
8569                     unbekannt              2010               w
8570                     unbekannt              2011               m
8571                     unbekannt              2018               m
8572                     unbekannt              2018               m
8573                     unbekannt              2017               m

[8574 rows x 3 columns]

In [17]:
def Levenshtein_distance(s1, s2):
    # Length of words
    m=len(s1)+1
    n=len(s2)+1
    # loop to create a table with length of (s1 and s2) elements and their distance
    tbl = {}
    #source prefixes can be transformed into empty string by dropping all characters
    for i in range(m): tbl[i,0]=i
    # target prefixes can be reached from empty source prefix by inserting every character    
    for j in range(n): tbl[0,j]=j
    # Loop to find the Levenshtein distance using table    
    for i in range(1, m):
        for j in range(1, n):
            # check each element if they are same return 0 else 1 
            cost = 0 if s1[i-1] == s2[j-1] else 1
            # check the 
            tbl[i,j] = min(tbl[i, j-1]+1,  # deletion
                           tbl[i-1, j]+1,  # insertion
                           tbl[i-1, j-1]+cost) #substition of cost

    return tbl[i,j]

In [51]:
# Extract only dogsname column values
z=[x for x in DataFrame['HUNDENAME']]

In [53]:
# remove special characters from dogsname
s1=[re.sub("[^A-Za-z]","",i) for i in z]

In [47]:
# Extract words of Levenshtein distance of 1 to "Luca"
allwords=[]
for i in s1:
    L=Levenshtein_distance("Luca", i)
    if L==1:
        allwords.append(i)

In [48]:
# Print unique words from Levenshtein distance of 1 to "Luca"
uniqueWords = [] 
for i in allwords:
      if not i in uniqueWords:
        uniqueWords.append(i);

print(uniqueWords)

['Cuca', 'Lua', 'Luba', 'Lucas', 'Luce', 'Lucia', 'Lucy', 'Lula', 'Luma', 'Luna', 'Lupa', 'Yuca']